@model DetailViewModel
@{
    ViewData["Title"] = "Park Detail";
    IList<Weather> weathers = (List<Weather>)ViewData["weather"];
    
}

<section class="container">

    <h2>@Model.Park.ParkName - @Model.Park.State</h2>
    <div class="container-fluid no-padding">
        <div class="row">
            <div class="col-md-12">
                <img class="center-block" src="~/images/parks/@(Model.Park.ParkCode.ToLower()).jpg" />
            </div>
        </div>
    </div>


    <blockquote class="blockquote-reverse center-block">
        <p>@Model.Park.InspirationalQuote</p>
        <footer>@Model.Park.QuoteSource</footer>
    </blockquote>

    <div>
        <p>@Model.Park.ParkDescription</p>
    </div>

    <div>
        <table class="table table-hover table-bordered">
            <thead>Quick Facts</thead>
            <tr>
                <td>Acreage:</td>
                <td>@Model.Park.Acreage</td>
            </tr>
            <tr>
                <td>Elevation:</td>
                <td>@Model.Park.ElevationFt ft.</td>
            </tr>
            <tr>
                <td>Trails:</td>
                <td>@Model.Park.MilesOfTrail miles</td>
            </tr>
            <tr>
                <td>Entry Fee:</td>
                <td>@Model.Park.EntryFee.ToString("C")</td>
            </tr>
            <tr>
                <td>Number of Campsites:</td>
                <td>@Model.Park.NumCampSites</td>
            </tr>
            <tr>
                <td>Climate:</td>
                <td>@Model.Park.Climate</td>
            </tr>
            <tr>
                <td>Year Founded:</td>
                <td>@Model.Park.YearFounded</td>
            </tr>
            <tr>
                <td>Annual Visitor Count:</td>
                <td>@Model.Park.AnnualVisitorCount</td>
            </tr>
            <tr>
                <td>Number of Animal Species:</td>
                <td>@Model.Park.NumAnimalSpecies</td>
            </tr>

        </table>
    </div>

</section>
<section>

    <h2>5 Day Outlook</h2>
    <button id="changeFC">F&deg;/C&deg;</button>
    @foreach (var w in Model.Weathers)
    {
        <table class="table table-striped">

            <tbody>
                <tr>

                    <th>@DateTime.Today.AddDays(w.FiveDayForecastValue - 1).DayOfWeek</th>
                    <th>Temps</th>
                    
                </tr>
                <tr>
                    <td>

                        <img src="~/images/weather/@(w.ForecastString.Replace(" ", "").Replace('c', 'C')).png" />

                    </td>
                    <td>
                        <p id="highTemp">Hi @w.HighTemp&deg;</p>
                        <p id="lowTemp">Low @w.LowTemp&deg;</p>
                    </td>
                    </tr>
                <tr>    
                    <td>
                        <p>@w.GetAdvisory()</p>
                    </td>

                </tr>
            </tbody>
        </table>
    }
</section>




@*w.ForecastString.Replace(" ", "").Replace('c','C')*@