@model DetailViewModel
@{
    ViewData["Title"] = "Park Detail";
    IList<Weather> weathers = (List<Weather>)ViewData["weather"];
    bool isF = (bool)ViewData["isF"];
    
}

<div class="container parkSection">

    <h2>@Model.Park.ParkName - @Model.Park.State</h2>
    <div class="container-fluid no-padding">
        <div class="row">
            <div class="col-md-12">
                <img class="center-block img-responsive" id="detail_image" src="~/images/parks/@(Model.Park.ParkCode.ToLower()).jpg" />
            </div>
        </div>
    </div>


    <blockquote class="blockquote-reverse center-block">
        <p>@Model.Park.InspirationalQuote</p>
        <footer>@Model.Park.QuoteSource</footer>
    </blockquote>

    <div>
        <p>@Model.Park.ParkDescription</p>
    </div>

    <div>
        <table class="table table-hover table-bordered">
            <thead>Quick Facts</thead>
            <tr>
                <td>Acreage:</td>
                <td>@Model.Park.Acreage</td>
            </tr>
            <tr>
                <td>Elevation:</td>
                <td>@Model.Park.ElevationFt ft.</td>
            </tr>
            <tr>
                <td>Trails:</td>
                <td>@Model.Park.MilesOfTrail miles</td>
            </tr>
            <tr>
                <td>Entry Fee:</td>
                <td>@Model.Park.EntryFee.ToString("C")</td>
            </tr>
            <tr>
                <td>Number of Campsites:</td>
                <td>@Model.Park.NumCampSites</td>
            </tr>
            <tr>
                <td>Climate:</td>
                <td>@Model.Park.Climate</td>
            </tr>
            <tr>
                <td>Year Founded:</td>
                <td>@Model.Park.YearFounded</td>
            </tr>
            <tr>
                <td>Annual Visitor Count:</td>
                <td>@Model.Park.AnnualVisitorCount</td>
            </tr>
            <tr>
                <td>Number of Animal Species:</td>
                <td>@Model.Park.NumAnimalSpecies</td>
            </tr>

        </table>
    </div>

</div>
<br />
<div class="container parkSection">

    <h2>5 Day Outlook</h2>
    <form asp-controller="Home" asp-action="ChangeUnit" asp-route-parkCode="@Model.Park.ParkCode" method="post">
        <input type="submit" value="Change F/C" />
    </form>
    <table class="table table-responsive">

        <tbody>
            @foreach (var w in Model.Weathers)
            {
                
                <tr>
                    <th>@DateTime.Today.AddDays(w.FiveDayForecastValue - 1).DayOfWeek</th>
                    <th>Temps</th>
                </tr>
                <tr>
                    <td>

                        <img class="img-circle img-responsive weatherimage" src="~/images/weather/@(w.ForecastString.Replace(" ", "").Replace('c', 'C')).png" />
                        

                    </td>
                    <td>
                        <p id="highTemp">
                            Hi @w.DisplayHigh&deg;
                            @if (isF)
                            {<span>F</span>}
                            else
                            {<span>C</span>}
                        </p>
                        <p id="lowTemp">
                            Low @w.DisplayLow&deg;@if (isF)
                            {<span>F</span>}
                            else
                            {<span>C</span>}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="advisories" colspan="3">
                        <p>@w.GetAdvisory()</p>
                        <p>@w.GetWeatherAdvisory()</p>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>




